body {
  background-color: #05080a;
}

h1 {
  color: #343a40;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

button.ml-2 {
  margin-left: 0.5rem;
}

button {
  transition: background-color 0.2s, color 0.2s;
}

button:hover {
  background-color: #0056b3;
  color: #c74848;
}

@media (max-width: 575.98px) {
  .card-title {
    font-size: 1.25rem;
  }

  .card-subtitle {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.875rem;
  }
}
